
service AZenith /vendor/bin/hw/vendor.azenith-service
    seclabel u:r:init:s0
    class late_start
    user root
    group root
    disabled

on property:sys.boot_completed=1
    mkdir /sdcard/config
    start AZenith
